* { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }

.tracklist { width: 800px; padding: 30px 0; color: #420; background: #000 url('http://img87.imageshack.us/img87/1584/1235943380tracklist.gif') no-repeat scroll center center; }
.tracklist > ol { width: 80%; margin: 0 auto; }
.tracklist > ol > li { padding: 10px; }
.tracklist > ol > li > a { display: block; overflow: hidden; }
.tracklist > ol > li > a > .title { float: left; }
.tracklist > ol > li > a > .duration { float: right; }
.tracklist > ol > li > a > .dots { display: block; height: 1em; overflow: hidden; border-bottom: 1px dotted #000; }

.tracklist .footer { margin: 15px; text-align: center; }
